body { 
	padding-top: 85px; 
}

.tile {
	color: #fff;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	padding: 20px;
	margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height:300px;
    position: relative
}

.tile:hover {
	opacity: 0.7;
}

.tile-description {
	position: absolute; 
	bottom: 0;
}

.tile-description > h3 {
	color: #fff;
}
