body { 
	padding-top: 85px; 
}

.tile {
	color: #fff;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	margin-bottom: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height:300px;
    position: relative
}

.tile:hover {
	opacity: 0.7;
}

.tile-description {
	width:100%; 
	background-color: rgba(0, 0, 0, 0.5);
	padding: 0px 20px;
	position: absolute; 
	bottom: 0;
}

.tile-description > h3 {
	color: #fff;
}

.tile-divider {
	margin:0px 0px 5px 0px;
	border-color: rgba(255, 255, 255, 0.5);
}
